.navigation{
    text-decoration: none;
    text-align: left;
    cursor: pointer;
    padding: 18px;
    margin: auto;
    word-spacing: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    background-image: url(/glory.jpeg);
    background-position: center;
    background-size: cover;
}
